name: Test

on:
  push:
    paths-ignore:
      - "**/*.md"
    branches:
      - main

  pull_request:
    paths-ignore:
      - "**/*.md"
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.job.os }}
    strategy:
      fail-fast: false
      matrix:
        nvim-versions: [stable, nightly]
        job:
          - { os: ubuntu-24.04, target: x86_64-linux }
          - { os: ubuntu-24.04-arm, target: aarch64-linux }
          - { os: macos-14, target: aarch64-darwin }
          - { os: windows-2025, target: x86_63-windows-msvc }

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install MSVC Compiler Toolchain
        uses: ilammy/msvc-dev-cmd@v1
        if: endsWith(matrix.job.target, '-msvc')

      - name: Install Lux
        uses: lumen-oss/gh-actions-lux@v1
        with:
          version: latest

      - name: Print lux version
        run: lx --version

      - name: Setup Neovim
        uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.nvim-versions }}

      - name: Run tests
        run: lx test
